Repository redis/redis-benchmarks-specification, pull requests merged in 2022-12, with the labels that each got.

#173 Validated SPEC fields uppon PR and commit
  .github/workflows/validate-spec-fields.yml
  redis_benchmarks_specification/__cli__/args.py
  redis_benchmarks_specification/__cli__/stats.py
Labels: tool-cli

#172 added fpadd command testcase.
  redis_benchmarks_specification/test-suites/memtier_benchmark-1key-pfadd-4KB-values-pipeline-10.yml
Labels: spec

#176 Added support for MULTI EXEC
  dump.rdb
  redis_benchmarks_specification/__cli__/args.py
  redis_benchmarks_specification/__cli__/stats.py
  redis_benchmarks_specification/__runner__/runner.py
  redis_benchmarks_specification/test-suites/memtier_benchmark-1Mkeys-hash-transactions-multi-exec-pipeline-20.yml
Labels: spec

#174 added command zrevbyrangescore
  redis_benchmarks_specification/test-suites/memtier_benchmark-1key-zrevrangebyscore-256K-elements-pipeline-1.yml
Labels: spec

#178 added support for bitfield command.
  redis_benchmarks_specification/test-suites/memtier_benchmark-1key-100MB-string-bitfield.yml
Labels: spec

#175 Added execution and updated installation section to Readme
  Readme.md
Labels: documentation

#182 added support for zrevrank, zrank, zincrby and zrem
  redis_benchmarks_specification/test-suites/memtier_benchmark-1key-zincrby-1M-elements-pipeline-1.yml
  redis_benchmarks_specification/test-suites/memtier_benchmark-1key-zrank-1M-elements-pipeline-1.yml
  redis_benchmarks_specification/test-suites/memtier_benchmark-1key-zrem-5M-elements-pipeline-1.yml
  redis_benchmarks_specification/test-suites/memtier_benchmark-1key-zrevrank-1M-elements-pipeline-1.yml
Labels: spec

#190 Fixed preload with password
  pyproject.toml
  redis_benchmarks_specification/__runner__/runner.py
Labels: bug
